<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Class Critique</title>
<link rel="shortcut icon" href="https://i.imgur.com/fB9K3gp.png">
 <link rel='stylesheet' type='text/css' href='/Styles/style.css'>
 <link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet">
 <link href="https://fonts.googleapis.com/css?family=Comfortaa|Montserrat+Subrayada|Oleo+Script|Shrikhand|Yeseva+One" rel="stylesheet">
 <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
 <link href="https://fonts.googleapis.com/css?family=Baloo+Bhaijaan|Open+Sans:300i,400" rel="stylesheet">
</head>
<body>
