<% include ../partials/boilerplate %>
<main>

<div id='welcome'> Welcome to Class Critique! </div>

<a href="/reviews"> Add your Review! </a>
<br>
<a href="/reviews"> See All Reviews! </a>
</main>

  <% include ../partials/footer %>
</body>
</html>
