<% include ../partials/boilerplate %>
<% include ../partials/header.ejs %>

<main>

<div id='circle'>
  <div id='welcome'>
     Welcome to Class Critique! <br> Read reviews from our online-community of fitness lovers to find a class that may interest you! <br> If you have an experience you would like to share please leave a review!

      <br>
  <a id='welcomea' href="/reviews/new">Add Your Review</a>
  </div>
</div>

  <% for (let reviews of data) { %>
    <div class='review'>
      <p> "<%= reviews.review %>"</p>
      <br>
      <a href='/reviews/<%= reviews.id%>'>Learn more about this class!</a>
    </div>
  <% } %>

  <% include ../partials/footer %>

  </main>
</body>
</html>
