<% include ../partials/boilerplate %>

<form method='POST' action='/reviews'>
  <input name='className' type='text' placeholder='Class Name' />
  <input name='instructor' type='text' placeholder='Who was your instructor?' />
  <input name='level' type='text' placeholder='What was the class level?'/>
  <input name='review' type='text' placeholder='What did you think of the class?'/>

  <input type='submit' value='Add you Review!' />
</form>

  <% include ../partials/footer %>
